[submodule "lib/CommonLibSSE"]
	path = lib/CommonLibSSE
	url = https://github.com/Vermunds/CommonLibSSE

[submodule "projects/SkyrimSoulsRE"]
	path = projects/SkyrimSoulsRE
	url = https://github.com/Vermunds/SkyrimSoulsRE
[submodule "projects/ClassicSprintingRedone"]
	path = projects/ClassicSprintingRedone
	url = https://github.com/Vermunds/ClassicSprintingRedone-SE
[submodule "projects/TimeFormatChanger"]
	path = projects/TimeFormatChanger
	url = https://github.com/Vermunds/TimeFormatChanger-SE
[submodule "projects/DialogueMovementEnabler"]
	path = projects/DialogueMovementEnabler
	url = https://github.com/Vermunds/DialogueMovementEnabler-SE
[submodule "projects/ExtendedHotkeySystem"]
	path = projects/ExtendedHotkeySystem
	url = https://github.com/Vermunds/ExtendedHotkeySystem-SE
