[submodule "lib/CommonLibSSE"]
	path = lib/CommonLibSSE
	url = https://github.com/Vermunds/CommonLibSSE
	branch = dev

[submodule "projects/SkyrimSoulsRE"]
	path = projects/SkyrimSoulsRE
	url = https://github.com/Vermunds/SkyrimSoulsRE
[submodule "projects/ClassicSprintingRedone"]
	path = projects/ClassicSprintingRedone
	url = https://github.com/Vermunds/ClassicSprintingRedone-SE
[submodule "projects/TimeFormatChanger"]
	path = projects/TimeFormatChanger
	url = https://github.com/Vermunds/TimeFormatChanger-SE
[submodule "projects/DialogueMovementEnabler"]
	path = projects/DialogueMovementEnabler
	url = https://github.com/Vermunds/DialogueMovementEnabler-SE
[submodule "projects/ExtendedHotkeySystem"]
	path = projects/ExtendedHotkeySystem
	url = https://github.com/Vermunds/ExtendedHotkeySystem-SE
[submodule "projects/CleanSaveAutoReloader"]
	path = projects/CleanSaveAutoReloader
	url = https://github.com/Vermunds/Skyrim-CleanSaveAutoReloader
[submodule "lib/FUCK"]
	path = lib/FUCK
	url = https://github.com/Fuzzlesz/FUCK
[submodule "lib/SKSE-Menu-Framework-3-API"]
	path = lib/SKSE-Menu-Framework-3-API
	url = https://github.com/QTR-Modding/SKSE-Menu-Framework-3-API
[submodule "lib/ModConfigUI"]
	path = lib/ModConfigUI
	url = https://github.com/Vermunds/ModConfigUI
