[submodule "lib/CommonLibSSE"]
	path = lib/CommonLibSSE
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibSSE
[submodule "lib/simpleini"]
	path = lib/simpleini
	url = https://github.com/brofield/simpleini
[submodule "lib/AutoTOML"]
	path = lib/AutoTOML
	url = https://github.com/Ryan-rsm-McKenzie/AutoTOML

[submodule "projects/SkyrimSoulsRE"]
	path = projects/SkyrimSoulsRE
	url = https://github.com/Vermunds/SkyrimSoulsRE
[submodule "projects/ClassicSprintingRedone"]
	path = projects/ClassicSprintingRedone
	url = https://github.com/Vermunds/ClassicSprintingRedone-SE
[submodule "projects/TimeFormatChanger"]
	path = projects/TimeFormatChanger
	url = https://github.com/Vermunds/TimeFormatChanger-SE
[submodule "projects/DialogueMovementEnabler"]
	path = projects/DialogueMovementEnabler
	url = https://github.com/Vermunds/DialogueMovementEnabler-SE
